<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springmybatis.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="springmybatis.model.Users">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="brithday" jdbcType="DATE" property="brithday" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="springmybatis.model.Users">
    insert into users (user_id, user_name, brithday
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{brithday,jdbcType=DATE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="springmybatis.model.Users">
    update users
    set user_name = #{userName,jdbcType=VARCHAR},
      brithday = #{brithday,jdbcType=DATE}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, user_name, brithday
    from users
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_name, brithday
    from users
  </select>
</mapper>